@media screen and (max-width: 639px) {

    nav {
        border-radius: 1.0em; /*This rounds the corners of elements.*/
    }

    nav ul li {
        border-radius: 1em;
    }

    .tablet {
        display: none;
    }

    .desktop {
        display: none;
    }

}