@import "mobilestyle.css";
@import "tabletstyle.css";

body {
    background-image: linear-gradient(white, black);
}

header img {
    width: 100%; /*This stretches the image across the viewport*/
    height: auto; /*The height will change based on the size of the viewport*/
    max-width: 500px;
}

nav {
    margin-bottom: 1em; /*This places some space between elements*/
    font-weight: bold;
    text-align: center;
}

nav ul {
    padding: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav ul li {
    background-color: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.75em;
    list-style-type: none; /*Thisremoves bullet points*/
}

nav ul li a {
    color: white;
    text-decoration: none; /*This removes the unerline from the hyperlink*/
}

figure {
    text-align: center;
    background-color: white;
}

figure img {
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: auto;
}

main {
    padding: 1em;
    background-image: linear-gradient(white, white, grey);
    min-height: 400px;
    border-radius: 1.0em; /*This rounds the corners of elements.*/
    margin-bottom: 1em; /*This places some space between elements*/
}

/*3-column layout begin*/
main .row:after {
    content: "";
    display: table;
    clear: both;
}

main div .column {
    float: left;
}

main div .left {
    padding: 0.5%;
    width: 20%;
    float: left;
}

main div .right {
    padding: 0.5%;
    width: 20%;
    float: right;
}
/*3-column layout end*/

/*.schedule table begin*/
.schedule table {
    border: 0.1em solid black;
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    background-color: white;
}

.schedule caption {
    border: 0.1em solid black;
    font-size: 1.5em;
    font-weight: bold;
}

.schedule th, .schedule td {
    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;
}

.schedule th {
    background-color: black;
    color: white;
}

/*.schedule table end*/

#enrollprice {
    border: 0.1em solid black;
    border-collapse: collapse;
}

#enrollprice td {
    border: 0.1em solid black;
    padding: 0.5em;
    text-align: center;
}


footer {
    background-image: linear-gradient(to right, black, white, black);
    text-align: center;
    padding: 0.25em;
}

/*Begin desktop.*/
@media screen and (min-width: 960px) {

    header {
        background-image: linear-gradient(to right, white, black, black, black);
        box-shadow: 0.5em 0.5em 0.5em black;
    }

    header img {
        width: auto;
        height: 4.8em;
    }

    nav {
        padding-top: 0.2em;
        background-color: black;
        margin-top: -5em; /*This moves the nav element above where it would nornmally be.*/
        width: 59%;
        float: right; /*This floats the nav element to the right side of the page.*/
        border-top: solid 0.2em black;
        border-bottom: solid 0.2em black;
    }

    .desktop {
        display: block;
    }

    main div .center {
        padding: 1%;
        width: 50%;
        border-left: 0.3em solid black;
        border-right: 0.3em solid black;
    }

}
/*End desktop.*/