@media screen and (min-width: 640px) {

    nav ul li {
        padding: 0.7em;
        border-top: solid 0.2em black;
        border-bottom: solid 0.2em black;
        display: inline-block; /*This lists items horizontally and allows the to stretch*/
        border-radius: 1em;
        box-shadow: 0.5em 0.5em 0.5em black;
        min-width: 10%;
    }

    figure {
        box-shadow: 0.5em 0.5em 0.5em black;
    }

    main {
        box-shadow: 0.5em 0.5em 0.5em black;
    }

    .desktop {
        display: none;
    }

    main div .center {
        width: 66%;
        border-right: 0.3em solid black;
    }

    footer {
        box-shadow: 0.5em 0.5em 0.5em black;
    }

}